body {
    margin: 0;
    overflow-y: hidden;
}

@keyframes swan {
    0% {
        left: 0px;
        top: 5px;
    }
    55% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 5px;
    }
}

@keyframes wave {
    0% {
        left: -300px;
        top: 0px;
    }
    55% {
        left: 15px;
        top: 0px;
    }
    100% {
        left: -300px;
        top: 0px;
    }
}

@keyframes wave2 {
    0% {
        left: -100px;
        top: -100px;
    }
    20% {
        left: -400px;
        top: -100px;
    }
    80% {
        left: 10px;
        top: -100px;
    }
    100% {
        left: -100px;
        top: -100px;
    }
}

@keyframes wave3 {
    0% {
        left: -500px;
        top: -200px;
    }
    55% {
        left: -100px;
        top: -200px;
    }
    100% {
        left: -500px;
        top: -200px;
    }
}

@keyframes placeholder-pulse {
    0% {
      opacity: .6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: .6;
    }
  }